// Place all the styles related to the api/videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    align-items: center;
    top: 56px;
    bottom: 0;
    left: 240px;
    right: 0;
    background-color: #f9f9f9;
    width: 100%;
    box-sizing: border-box;
}



.grid-title {
    margin-left: 24px;
    margin-top: 36px;
    width: calc(100% - 24px);
    display: block;
    box-sizing: border-box;
    overflow: hidden;
    max-width: inherit;
    height: 24px;
}

.gt-text {
    color: #030303;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.index {
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: 100%;
    width: 100%;
    bottom: 0;
    flex-wrap: wrap;
    align-content: flex-start;
}

.video-preview{
    width: 360px;
    height: 300px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 40px;
    display: block;
    text-decoration: none;
}

.video-preview a {
    text-decoration: none;
}

.video-mini {
    width: 360px;
    height: 200px;
    background-color: rgba(148, 148, 148, .1);
}

.preview-meta-info {
    display: flex;
    flex-direction: row;
    position: relative;
    text-decoration: none;
}

.preview-meta-info svg path{
    text-decoration: none;
    fill: rgb(96, 96, 96);
}

.preview-info-icon {
    font-size: 36px;
    width: 36px;
    height: 36px;
    margin-top: 12px;
    margin-right: 12px;
    text-decoration: none;
}

.preview-info {
    padding-right: 24px;

}

.preview-info h3 {
    margin: 12px 0 6px 0;
    line-height: 20px;
    max-height: 40px;

}

.index-video-title {
    color: rgb(3, 3, 3);
    font-size: 14px;
    text-overflow: ellipsis;
    font-weight: bold;
    overflow: auto;
    text-decoration: none;
}

.index-creator {
    color: rgb(96, 96, 96);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-overflow: ellipsis;
    margin-right: -1.4px;
    padding-right: 1.4px;
}