// Place all the styles related to the api/videos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-container {
    display: flex;
    margin-top: 24px;
    justify-content: flex-start;
}

.video-thumbnail{
    width: 240px;
}

.video-mini {
    width: 240px;
}