.search-results {
  padding: 16px 24px;
  background-color: #fafafa;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  overflow: hidden;
}

.results-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.search-top {
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.search-top h3 {
  font-size: 14px;
  color: rgb(96, 96, 96);
  margin-left: 8px;
  text-transform: uppercase;
  letter-spacing: 0.007px;
  line-height: normal;
  font-weight: 500;
}

.search-result-videos {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-preview {
  height: 202px;
  margin-top: 16px;
  display: flex;
  width: 100%;
}

.search-preview a {
  text-decoration: none;
  display: flex;
  width: 100%;
}

.search-video {
  height: 202px;
  width: 360px;
  background-color: rgba(148, 148, 148, 0.1);
  margin-right: 16px;
}

.search-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-video-title {
  margin-right: 8px;
  color: rgb(3, 3, 3);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  text-size-adjust: 100%;
  white-space: normal;
}

.search-vad {
  line-height: 18px;
  color: rgb(96, 96, 96);
  font-size: 13px;
  font-weight: 400;
}

.search-icon-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 0;
}

.search-info-icon {
  font-size: 24px;
  height: 24px;
  width: 24px;
  color: rgb(96, 96, 96);
}

.search-pro-pic-wrapper {
  width: 24px;
  text-align: center;
  line-height: 24px;
  height: 24px;

  overflow: hidden;
  border-radius: 50%;
}

.search-pro-pic {
  height: 26px;
  margin: -100%;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

.search-creator-initial {
  height: 24px;
  width: 24px;

  border-radius: 50%;
  overflow: hidden;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: blue;
  flex: 0 0 auto;
}

.search-creator {
  padding-left: 8px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: normal;
  color: rgb(96, 96, 96);
}

.search-desc {
  color: rgb(96, 96, 96);
  font-size: 13px;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 18px;
  max-height: 36px;
  margin-bottom: 8px;
  overflow: hidden;
  padding-top: 0;
}
