.video-show {
    display: flex;
    flex-direction: row;
    max-width: 1754px;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.primary-show {
    padding-right: 24px;
    padding-top: 24px;
    margin-left: 24px;
    max-width: 1286px;
    width: 100%;
    height: 100%;
}

.video-player {
    width: 100%;
    height: 100%;
    outline: none;
}

.video-show-info {
    height: 64px;
    padding: 20px 0 0 0;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
}

.video-show-title {
    font-size: 18px;
    font-weight: 400;
    color: rgb(3, 3, 3);
    line-height: 24px;
}

.video-show-views-likes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 8px;
}

.show-vad {
    color: rgb(96, 96, 96);
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.video-show-meta {
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    margin-bottom: 24px;
    padding-bottom: 16px;
}

.show-name-bar {
    margin-bottom: 12px;
    padding-top: 16px;
    display: flex;
}

.show-icon {
    font-size: 48px;
    height: 48px;
    width: 48px;
    margin-right: 16px;
}

.show-creator-initial {
    height: 48px;
    width: 48px;
    margin-right: 16px;

    border-radius: 50%;
    overflow: hidden;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: blue;
    flex: 0 0 auto;
}

.show-pro-pic-wrapper {
    width: 48px;
    text-align: center;
    line-height: 48px;
    height: 48px;

    margin-right: 16px;
    overflow: hidden;
    border-radius: 50%;
}

.show-pro-pic {
    height: 50px;
    margin: -100%;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

.video-creator-info {
    display: flex;
    flex: 1;
    flex-basis: 1e-9px;
    flex-direction: column;
    justify-content: center;
}

.show-name {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: rgb(3, 3, 3);
}

.video-show-description {
    margin-left: 64px;
}

.next-col-wrapper {
    padding-right: 24px;
    padding-top: 24px;
}

.next-col {
    width: 402px;
}

.up-next-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 12px;
}

.up-next-text {
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.show-index-item a {
    text-decoration: none;
}

.top-vid {
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e0e0e0;
}

.show-preview {
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;
}
.col-video-container {
    position: relative;
    width: 168px;
    height: 94px;
    margin-right: 8px;
}

.col-video {
    width: 168px;
    height: 94px;
    margin-right: 8px;
    background-color: rgba(148, 148, 148, 0.1);
    z-index: 90;
    visibility: visible;

    top: 0;
    left: 0;
}

.col-thumbnail {
    width: 168px;
    height: 94px;
    margin-right: 8px;
    background-color: rgba(148, 148, 148, 0.1);
}

.col-video-container:hover .index-thumbnail {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
}

.col-video-container:hover .has-thumbnail {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s, opacity 0.3s ease;
    -webkit-transition: visibility 0s, opacity 0.3s ease;
}
.sp-info {
    padding-right: 24px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.sp-info-title {
    color: #030303;
    line-height: 16px;
    margin-bottom: 4px;
    text-overflow: ellipsis;
    max-height: 32px;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    overflow: hidden;
    white-space: normal;
    letter-spacing: normal;
    display: -webkit-box;
    font-family: Roboto, Arial, sans-serif;
}

.sp-secondary-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-decoration: none;
}

.sp-name {
    color: rgb(96, 96, 96);
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
}

.sp-vad {
    color: rgb(96, 96, 96);
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-decoration: none;
}

.name-and-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 1091px) {
    .player-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
    }

    .primary-show {
        min-width: 640px;
    }

    .video-player {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .video-comments.mobile {
        display: none;
    }

    .video-comments.desktop {
        display: block;
    }
}

@media screen and (max-width: 1090px) {
    .video-show {
        flex-direction: column;
        padding-top: 24px;
        padding-right: 24px;
        margin-left: 24px;
    }

    .primary-show {
        width: auto;
        margin: 0;
        padding: 0;
    }

    .player-container {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
    }

    .video-player {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .next-col {
        width: 100%;
    }

    .video-comments.desktop {
        display: none;
    }

    .video-comments.mobile {
        display: block;
    }
}
