.dd-nav-btn {
  background: none;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 6px;
}

.icon-button {
  background-color: transparent;
  width: 32px;
  height: 32px;
  margin: 0 8px;
  border-radius: 50%;
  overflow: hidden;
  font-size: 32px;
}

.logged-in-icon {
  height: 32px;
  width: 32px;
  display: block;
  cursor: pointer;
}

.pic-icon-button {
  width: 32px;
  text-align: center;
  line-height: 32px;
  height: 32px;
  margin: 0 8px;
  overflow: hidden;
  border-radius: 50%;
}

.dd-pro-pic-nav {
  height: 34px;
  margin: -100%;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

.logged-in-user-initial {
  border-radius: 50%;
  overflow: hidden;
  height: 32px;
  width: 32px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: blue;
  cursor: pointer;
  flex: 0 0 auto;
}

.dropdown-menu {
  z-index: 120;
  position: fixed;
  top: 48px;
  right: 20px;
  width: 300px;
  border: 1px solid rgb(229, 229, 229);
  border-top: none;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-height: 714px;
  overflow: auto;
  background-color: #ffffff;
}

.closed {
  display: none;
}

.dropdown-top {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(229, 229, 229);
  padding: 16px;
}

.dropdown-uc {
  font-size: 40px;
  margin-right: 16px;
}

.dd-user-initial {
  border-radius: 50%;
  overflow: hidden;
  height: 40px;
  width: 40px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: blue;
  flex: 0 0 auto;
  margin-right: 16px;
}

.dd-pro-pic-top {
  width: 40px;
  text-align: center;
  line-height: 40px;
  height: 40px;
  margin-right: 16px;
  overflow: hidden;
  border-radius: 50%;
}

.dd-pro-pic {
  height: 42px;
  margin: -100%;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

.dropdown-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdown-name {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  color: rgb(3, 3, 3);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  white-space: nowrap;
}

.dropdown-email {
  display: block;
  color: rgb(3, 3, 3);
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dropdown-options {
  padding-top: 8px;
  padding-bottom: 8px;
}

.dd-option-list li {
  padding: 0 36px 0 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 24px;
  min-height: 40px;
  cursor: pointer;
}

.dd-option-list li:hover {
  background-color: rgb(242, 242, 242);
}

.list-sign-out {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.signout-icon {
  margin-right: 16px;
  font-size: 24px;
  color: #909090;
}

.so-text {
  color: rgb(3, 3, 3);
  font-size: 14px;
  font-weight: 400;
}
